@media all and (max-width: 798px) {
    header {
        width: 100%;
    }

    #header-search {
        width: 95%;
        transform: scale(90%);
    }

    main {
        #own {
            width: 90%;
            transform: scale(80%);
        }

        #sec2 {
            width: 95vw;
        }

        #items-selection {
            /*display: inline-flex;*/
            /*overflow-x: hidden;*/
            display: grid;
            grid-template-columns: repeat(15, 1fr);
            grid-template-rows: 137px;
        }

        .item {
            padding: 16px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-self: center;

        }

        .icon {
            width: fit-content;
            height: 60px;

        }

        .detail {
            transform: scale(80%);
            height: 24px;

            :first-child {
                font-size: 14px;
            }

            :last-child {
                font-size: 12px;
            }

        }

        #item-links {
            display: grid;
            grid-template-columns:1fr 1fr;
            grid-template-rows:auto;

            #making-money {
                grid-column: 1/span 2;
                grid-row: 1;
                width: 100vw;

            }

            #ikman-job {
                grid-column: 1/span 2;
                grid-row: 2;
                width: 100vw;
                display:flex;
                flex-direction:column;
                justify-content:center;
                align-items:center;

                #ikman-job-res{
                    display:flex;
                    flex-direction:column;
                    align-items: center;
                }
                div p{
                   display: flex;
                    align-items: center;
                }
            }

            #links {
                grid-column: 1/span 2;
                grid-row: 3;
            }

            #ads-electronics{
                grid-column:1;
                grid-row:4;
            }


            #ads-job{
                grid-column:2;
                grid-row:4;

            }
            #ads-vehicle{
                grid-column:2;
                grid-row:4;
            }

            #ads-property{
                grid-column:2;
                grid-row:4;

            }
            #paragraph{
                grid-column:1/span 2;
                grid-row:5;
            }

        }

    }

footer{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    grid-template-rows:auto;

    #more-ikman{
        grid-column:1;
        grid-row:1;
    }
    #help{
        grid-column:2;
        grid-row:1;
    }
    #about{
        grid-column:1;
        grid-row:2;
    }
    #blog{
        grid-column:2;
        grid-row:2;
    }
    #download-app{
        grid-column:1/span 2;
        grid-row:3;
        /*display:flex;*/
        /*flex-direction:row;*/
        display:grid;
        grid-template-columns:1fr 1fr;
        grid-template-rows:auto;

        #app{
            grid-column:1;
            grid-row:1;
            width: 50vw;
        }

        #con{
            grid-column:2;
            grid-row:1;
        }
    }

}

#copy-right{
   display: flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    text-align: center;
    gap:20px;
}


}